<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> NOSOTROS</title>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style-starter.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Top Menu 1 -->
    @RenderBody()
    <!-- Top Menu 1 -->
    <section class="w3l-top-menu-1">
        <div class="top-hd">
            <div class="container">
                <header class="row top-menu-top">
                    <div class="accounts col-md-9 col-6">
                        <li class="top_li"><span class="fa fa-phone"></span><a href="tel:+142 5897555">+1 809-837-8317</a> </li>
                        <li class="top_li1"><span class="fa fa-envelope-o"></span> <a href="mailto:Colonjunior07@gmail.com" class="mail"> Colonjunior07@gmail.com</a>	</li>
                    </div>
                    <div class="social-top col-md-3 col-6">
                        <a asp-page="/NewFolder/IndexContacto" class="btn btn-secondary btn-theme4">Aplica ahora</a>
                    </div>
                </header>
            </div>
        </div>
    </section>
    <!-- //Top Menu 1 -->

    <section class="w3l-bootstrap-header">
        <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
            <div class="container">
                <a asp-page="/NewFolder/IndexContacto"class="navbar-brand" ><span class="fa fa-pencil-square-o "></span> Aprende Inglés</a>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a asp-page="/NewFolder/IndexHome"class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/NewFolder/IndexNosotros"class="nav-link" >Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/NewFolder/IndexServicio" class="nav-link" >Servicios</a>
                        </li>


                        <li class="nav-item">
                            <a asp-page="/NewFolder/IndexContacto" class="nav-link" >Contacto</a>
                        </li>
                    </ul>
                    <form action="search-results.html" class="form-inline position-relative my-2 my-lg-0">
                        <input class="form-control search" type="search" placeholder="Search here..." aria-label="Search" required="">
                        <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </nav>
    </section>

    <section class="w3l-service-breadcrum">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">
                <h2>Servicios</h2>
                <p><a asp-page="/NewFolder/IndexHome">Home</a> &nbsp; / &nbsp; Servicios</p>
            </div>
        </div>
    </section>

    <section class="w3l-features-8">
        <!-- /features -->
        <div class="features py-5" id="services">
            <div class="container py-md-3">


                <div class="fea-gd-vv text-center row">

                    <div class="float-top col-lg-4 col-md-6">
                        <a href="#"><img src="~/images/g2.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Robots en el espacio</a> </h3>
                            <p> Aumenta tu capaidad y lo sabras todo </p>
                        </div>
                    </div>
                    <div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">
                        <a href="#"><img src="~/images/g3.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Instrucción diferenciada</a> </h3>
                            <p> Aprenderas rápido y tendras buena calidad</p>
                        </div>
                    </div>
                    <div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <a href="#"><img src="~/images/g8.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Análisis del director</a> </h3>
                            <p> Será de mucho placer tenerte con Nosotros </p>
                        </div>
                    </div>
                    <div class="float-top col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/images/g5.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Trabaja en equipo</a> </h3>
                            <p> Con nuestras ofertas te encontraras con personas dedicadas </p>
                        </div>
                    </div>
                    <div class="float-top col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/images/g6.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Formación de vuelo</a> </h3>
                            <p> Podras colavorar y aprender a la ves </p>
                        </div>
                    </div>
                    <div class="float-top col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/images/g7.jpg" class="img-responsive" alt=""></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#">Gesto de dedo</a> </h3>
                            <p> Aprenderas a ser cortes y amigable con tus compañeros </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //features -->
    </section>

    <section class="w3l-pricing-7" id="pricing">
        <div class="w3l-pricing-7_sur py-5">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Ver nuestros paquetes</h3>
                    <p class="my-3 head">
                        Lee con mucha atención y veras que nuestras ofertas son únicas 
                        y te garantizaran un aprendisaje concreto
                    </p>
                </div>
                <div class="row w3l-pricing-7-gd-top pt-3 mt-5">
                    <div class="col-lg-4 col-md-6 w3l-pricing-7-gd-left">
                        <div class="w3l-pricing-7  pric-7-1">
                            <h6>Paquete básico</h6>
                            <div class="w3l-pricing-7-top">
                                <h3 class="title-sub">$199.00</h3>
                                <p>1 Mes</p>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li class="tick-info">
                                            Con esta oferta podras adquirir 
                                        </li>
                                        <li class="tick-info">
                                           conocimientos con profesores jovenes
                                        </li>
                                        <li class="tick-info">
                                            que te ayudaran a tener
                                        </li>
                                        <li class="tick-info">
                                           una excelente creatividad 
                                        </li>
                                        <li class="tick-info">
                                          para seguir aprendido 
                                        </li>
                                        <li class="tick-info">
                                            más rápido.
                                        </li>
                                    </ul>
                                </div>
                                <div class="buy-button text-center mt-5">
                                    <a asp-page="/NewFolder/IndexContacto" class="btn btn-secondary btn-theme2">
                                        <div class="anim"></div><span>Solicitar ahora</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-4 w3l-pricing-7-gd-left active">
                        <div class="w3l-pricing-7 pric-7 active">
                            <h6>Paquete estándar</h6>
                            <div class="w3l-pricing-7-top">
                                <h3 class="title-sub">$299.00</h3>
                                <p>1 Mes</p>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li class="tick-info">
                                            Con esta oferta podras adquirir 
                                        </li>
                                        <li class="tick-info">
                                           conocimientos buenos con profesionales
                                        </li>
                                        <li class="tick-info">
                                            que te ayudaran a tener 
                                        </li>
                                        <li class="tick-info">
                                            una buena comunicación 
                                        </li>
                                        <li class="tick-info">
                                            para seguir aprendido
                                        </li>
                                        <li class="tick-info">
                                            mucho más.
                                        </li>
                                    </ul>
                                </div>
                                <div class="buy-button text-center mt-5">
                                    <a asp-page="/NewFolder/IndexContacto" class="btn btn-secondary btn-theme2">
                                        <div class="anim"></div><span>Solicitar ahora</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
                        <div class="w3l-pricing-7 pric-7-2">
                            <h6>Paquete exclusivo</h6>
                            <div class="w3l-pricing-7-top">
                                <h3 class="title-sub">$399.00</h3>
                                <p>1 Mes</p>
                            </div>
                            <div class="w3l-pricing-7-bottom">
                                <div class="w3l-pricing-7-bottom-bottom">
                                    <ul class="links">
                                        <li class="tick-info">
                                            Con este pack
                                        </li>
                                        <li class="tick-info">
                                            no solo estaras con el mejor
                                        </li>
                                        <li class="tick-info">
                                            sino que obtendras
                                        </li>
                                        <li class="tick-info">
                                            mejores dialectos,
                                        </li>
                                        <li class="tick-info">
                                            aprendidoscon profesores nativos
                                        </li>
                                        <li class="tick-info">
                                            que te ayudaran a crecer más, y adquirir los conocimentos neserarios.
                                        </li>
                                    </ul>
                                </div>
                                <div class="buy-button text-center mt-5">
                                    <a asp-page="/NewFolder/IndexContacto" class="btn btn-secondary btn-theme2">
                                        <div class="anim"></div><span>Solicitar ahora</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w3l-features-4">
        <!-- /features -->
        <div class="features py-5" id="services">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Servicios asombrosos</h3>
                    <p class="my-3 head">
                        Aprovecha nuestros servicios y logra uno de tus sueños. No dudes en entrar
                    </p>
                </div>
                <div class="fea-gd-vv row mt-5 pt-3">
                    <div class="float-lt feature-gd col-lg-4 col-md-6">
                        <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5>
                                <a href="#">
                                   Mejor certificado
                                </a>
                            </h5>
                            <p> Con nuestro certificado podrás trabajar incliso en paises de primer mundo  </p>
                            <a href="#" class="red mt-3">Leer más <span class="fa fa-angle-right pl-1"></span></a>
                        </div>

                    </div>
                    <div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5>
                                <a href="#">
                                    Premios nacionales
                                </a>
                            </h5>
                            <p> Gana excelentes certificado con tus esfuerzo y cumpe tus sueños  </p>
                            <a href="#" class="red mt-3">Lee mas <span class="fa fa-angle-right pl-1"></span></a>
                        </div>
                    </div>
                    <div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5><a href="#">Maestro calificador</a></h5>
                            <p>  Obten un certificado firmado por nuestros maestros.  </p>
                            <a href="#" class="red mt-3">Lee mas <span class="fa fa-angle-right pl-1"></span></a>
                        </div>
                    </div>
                    <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">
                        <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5>
                                <a href="#">Cursos dedicados</a>
                            </h5>
                            <p> Esfuerzate y especialisate, y se profecional <area shape="" coords="" href="" alt="">  </p>
                            <a href="#" class="red mt-3">Leer más <span class="fa fa-angle-right pl-1"></span></a>
                        </div>

                    </div>
                    <div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">
                        <div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5>
                                <a href="#">
                                    Más de 4 k estudiantes
                                </a>
                            </h5>
                            <p> Y todos estan encantados de estudiar con Nosotros </p>
                            <a href="#" class="red mt-3">Leer más <span class="fa fa-angle-right pl-1"></span></a>
                        </div>
                    </div>
                    <div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">
                        <div class="icon"> <span class="fa fa-spinner" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5>
                                <a href="#">24 H de soporte</a>
                            </h5>
                            <p> No importa la hora, siempre te vamos a responder </p>
                            <a href="#" class="red mt-3">Leer más <span class="fa fa-angle-right pl-1"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //features -->
    </section>

    <!-- grids block 5 -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="container">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Encuentranos en</h6>
                        <ul>
                            <li><p><span class="fa fa-map-marker"></span> Calle Luis F. Thomen 303, Santo Domingo .</p></li>
                            <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +1 809-876-4516</a></li>
                            <li><a href="mailto:Colonjunior07@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span> 2019-0008@Unad.edu.do</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                            <h6 class="footer-title-29">Enlaces destacados</h6>
                            <li><a asp-page="/NewFolder/IndexContacto">Graduación</a></li>
                            <li><a asp-page="/NewFolder/IndexContacto">Admisiones</a></li>
                            <li><a asp-page="/NewFolder/IndexContacto">tienda de libros</a></li>
                            <li><a asp-page="/NewFolder/IndexContacto">International</a></li>
                            <li><a asp-page="/NewFolder/IndexContacto">Cursos</a></li>
                        </ul>
                    </div>
                    <div class="footer-list-29 footer-3">

                        <h6 class="footer-title-29">Boletin informativo </h6>
                        <form action="#" class="subscribe" method="post">
                            <input type="email" name="email" placeholder="Email" required="">
                            <button><span class="fa fa-envelope-o"></span></button>
                        </form>
                        <p>Suscríbete y recibe nuestro boletín semanal</p>
                        <p>Nunca compartiremos su dirección de correo electrónico</p>

                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Enlaces rápidos</h6>
                            <li><a asp-page="/NewFolder/IndexHome">Home</a></li>
                            <li><a asp-page="/NewFolder/IndexNosotros">Aserca de </a></li>
                            <li><a asp-page="/NewFolder/IndexServicio">Services</a></li>
                            <li><a href="#"> Blog</a></li>
                            <li><a asp-page="/NewFolder/IndexContacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2020 Mastery. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
                    <ul class="list-btm-29">
                        <li><a href="#link">Política de privacidad</a></li>
                        <li><a href="#link">Términos de servicio</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>

    <!-- /move top -->
    </section>


    <!-- //footer-28 block -->
    </section>
    <script>

        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Template JavaScript -->
    <script src="~/js/all.js"></script>
    <!-- Smooth scrolling -->
    <!-- <script src="assets/js/smoothscroll.js"></script> -->

    <script src="~/js/owl.carousel.js"></script>
    <!-- script for -->
    <!--<script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>-->
    <!-- //script -->

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)







</body>
</html>
