@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">

        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Mejor educación para un mundo mejor</h5>
                                    <a asp-page="/NewFolder/IndexServicio" class="btn btn-secondary btn-theme2 mt-md-5 mt-4">Lee mas</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore el mundo de nuestros graduados</h5>
                                    <a asp-page="/NewFolder/IndexServicio" class="btn btn-secondary btn-theme2 mt-md-5 mt-4">Lee mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Gente excepcional, atención excepcional</h5>
                                    <a asp-page="/NewFolder/IndexServicio" class="btn btn-secondary btn-theme2 mt-md-5 mt-4">Lee mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore el mundo de nuestros graduados</h5>
                                    <a asp-page="/NewFolder/IndexServicio" class="btn btn-secondary btn-theme2 mt-md-5 mt-4">Lee mas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>

</section>

